<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DbLogEnabled" value="false"/>
		<add key="PageLogEnabled" value="true"/>
		<add key="DebugMode" value="true"/>
		<add key="DBDatetimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
		<add key="DBDateFormat" value="yyyy-MM-dd"/>
		<add key="DefaultDatetimeFormat" value="dd/MM/yyyy HH:mm:ss"/>
		<add key="DefaultDateFormat" value="dd/MM/yyyy"/>
		<add key="PageNotFoundURL" value="/404.htm"/>
		<add key="IgnoreSslErrors" value="true" />
		<add key="SiteName" value="Artsbox"/>
		<add key="SiteShortName" value="ab_live"/>
		<add key="DefaultLogFile" value="C:\Archive\Projects\SynergySVN\Framework\trunk\QUEHANDLER\LOG\APPLICATION.LOG"/>
		<add key="DllPath" value="C:\Archive\Projects\Other\DynamoDBEvaluation\DynamoDBEvaluation\bin\Debug\"/>

		<add key="AWSAccessKey" value="AKIAIRMBUCHP732ZG4EQ" />
		<add key="AWSSecretKey" value="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" />
		<add key="AWSRegion" value="eu-west-1" />
		<!--AWSProfileName is used to reference an account that has been registered with the SDK.
		If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
		It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
		that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
		-->

		<!-- Database Settings-->
		<add key="DefaultProviderName" value="System.Data.SqlClient"/>
		<add key="ErrorHandlerProviderName" value="System.Data.SqlClient"/>

		<!-- Testlive -->
		<add key="DefaultConnectionString" value="Data Source=mw-testlive.ctwc4tuupd77.us-east-1.rds.amazonaws.com;Initial Catalog=ab_testlive;Persist Security Info=True;User ID=ab_testlive;Password=6o4E8cGy43698j5;Max Pool Size=500;Min Pool Size=5;encrypt=true;TrustServerCertificate=true;"/>
		<add key="ErrorHandlerConnectionString" value="Data Source=mw-testlive.ctwc4tuupd77.us-east-1.rds.amazonaws.com;Initial Catalog=ErrorLog;Persist Security Info=True;User ID=ab_testlive;Password=6o4E8cGy43698j5;Max Pool Size=25;Min Pool Size=15;encrypt=true;TrustServerCertificate=true;"/>


</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
</configuration>